{% use 'form_div_layout.html.twig' %}

{%- block form_row -%}



		{% if not compound %}
			<div class="row input-field ">
			{{- form_errors(form) -}}
			{{- form_widget(form) -}}
			{{- form_label(form) -}}
			</div>
			{% else %}
			<div class="row" astyle="margin-left: 60px">
				<div class="col s1">{{ label }}&nbsp;</div>

				<div class="col s11">
				{{- form_errors(form) -}}
				{{- form_widget(form) -}}
				</div>
				{#{{- form_label(form) -}}#}
			</div>

			{% endif %}

{%- endblock form_row -%}}

{#{%- block form_rows -%}#}
	{#{% for child in form %}#}
		{#{% if child. %}#}
		{#{{ dump(child) }}#}
		{#{{- form_row(child) -}}#}
	{#{% endfor %}#}
{#{%- endblock form_rows -%}#}

{%- block widget_attributes -%}
	id="{{ id }}" name="{{ full_name }}"
	{%- if disabled %} disabled="disabled"{% endif -%}
	{%- if required %} required="required"{% endif -%}
	{%- for attrname, attrvalue in attr -%}
		{{- " " -}}
		{%- if attrname in ['placeholder', 'title'] -%}
			{{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
		{%- elseif attrvalue is same as(true) -%}
			{{- attrname }}="{{ attrname }}"
		{%- elseif attrvalue is not same as(false) -%}
			{{- attrname }}="{{ attrvalue }}"
		{%- endif -%}
	{%- endfor -%}

{%- endblock widget_attributes -%}




