{% extends 'MopaBootstrapBundle:Form:fields.html.twig' %}


{% block tabs_widget %}
	{% spaceless %}
		<ul class="{{ form.vars.attr.class }}">
			{% for tab in form.vars.tabs %}
				{% set class = (tab.active ? 'active ' : '') ~ (tab.disabled ? 'disabled' : '') %}
				<li class="nav-item">
					<a data-toggle="tab" href="#{{ tab.id }}" class="nav-link {{ class|default('') }}">
						{% if tab.icon %}{{ mopa_bootstrap_icon(tab.icon) }}{% endif %}
						{{ tab.label|trans({}, tab.translation_domain) }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endspaceless %}
{% endblock %}




{% block checkbox_widget %}
	{% spaceless %}
		{% if label is not same as(false) and label is empty %}
			{%- if label_format is defined and label_format is not empty -%}
				{% set label = label_format|replace({
				'%name%': name,
				'%id%': id,
				}) %}
			{%- else -%}
				{% set label = name|humanize %}
			{%- endif -%}
		{% endif %}
		{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
			<div
			{%- if widget_type == 'inline-btn' %} class="btn-group" data-toggle="buttons"
			{%- else %} class="checkbox"
			{%- endif %}>
		{% endif %}
		{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes and label_render %}
			{% if widget_type == 'inline-btn' %}
				{% set label_attr = attr|default({}) %}
				{% if checked %}
					{% set label_attr = label_attr|merge({'class': 'active ' ~ attr.class|default('')}) %}
				{% endif %}
			{% endif %}

		{% endif %}
		<input class="filled-in" type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}/>
		{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
			{% if label_render %}
				<label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
				{%- if not horizontal %} class="checkbox-inline"{% endif %} >
				{% if widget_checkbox_label in ['both', 'widget'] %}
					{{ label|trans({}, translation_domain)|raw }}
				{% else %}
					{{ block('form_help') }}
				{% endif %}
				</label>
			{% endif %}
		{% endif %}
		{% if form.parent != null and 'choice' not in form.parent.vars.block_prefixes %}
			</div>
		{% endif %}
	{% endspaceless %}
{% endblock checkbox_widget %}




{% block choice_widget_expanded %}
	{% spaceless %}
		{% set label_attr = label_attr|merge({'class': (label_attr.class|default(''))}) %}
		{% set label_attr = label_attr|merge({'class': (label_attr.class ~ ' ' ~ (widget_type != '' ? (multiple ? 'checkbox' : 'radio') ~ '-' ~ widget_type : ''))}) %}
		{% if expanded %}
			{% set attr = attr|merge({'class': attr.class|default('') ~ ' ' ~ horizontal_input_wrapper_class}) %}
		{% endif %}
		{% if widget_type == 'inline-btn' %}
			<div class="btn-group" data-toggle="buttons">
		{% endif %}
		{% for child in form %}
			{% if widget_type not in ['inline', 'inline-btn'] %}
				<div class="{{ multiple ? 'checkbox' : 'radio' }}"
				{%- if widget_type == 'inline-btn' %} class="btn-group" data-toggle="buttons"{% endif %}>
			{% endif %}
			{% if widget_type == 'inline-btn' %}
				{% set label_attr = label_attr|default({})|merge({'class': 'btn ' ~ label_attr.class|default('')}) %}
			{% endif %}
			{% if child.vars.checked and widget_type == 'inline-btn' %}
				{% set label_attr_copy = label_attr|default({})|merge({'class': 'active ' ~ label_attr.class|default('')}) %}
			{% else %}
				{% set label_attr_copy = label_attr|default({}) %}
			{% endif %}

			{{ form_widget(child, {'horizontal_label_class': horizontal_label_class, 'horizontal_input_wrapper_class': horizontal_input_wrapper_class, 'attr': {'class': attr.widget_class|default('') }}) }}
			<label{% for attrname, attrvalue in label_attr_copy %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>

			{% if widget_type == 'inline-btn' or widget_checkbox_label == 'widget'%}
				{{ child.vars.label|trans({}, translation_domain)|raw }}
			{% else %}
				{{ child.vars.label|trans({}, translation_domain) }}
			{% endif %}
			</label>
			{% if widget_type not in ['inline', 'inline-btn'] %}
				</div>
			{% endif %}
		{% endfor %}
		{% if widget_type in ['inline', 'inline-btn'] %}
			<div style="clear:both" />
			<div>&nbsp;</div>
		{% endif %}

		{% if widget_type == 'inline-btn' %}

			</div>
		{% endif %}
	{% endspaceless %}
{% endblock choice_widget_expanded %}



{% block color_widget %}
	{% spaceless %}
		{% set type = 'color' %}
		{{ block('form_widget_simple') }}
	{% endspaceless %}
{% endblock %}

{% block ouat_money_widget %}
	<div class="input-group" style="width:120px;display: table" >

		<input type="text" class="form-control" name="{{ full_name }}" style="width: 80px;" id="{{ id }}" value="{{ value }}">
		<span style="display:table-cell;vertical-align:middle;"><b>€</b></span>
	</div>
{% endblock %}


{% block ouat_date_picker_widget %}
	{% spaceless %}
		{% set date_widget_id = generate_id() %}
		{% set widget = 'single_text' %}
		{% set w_value = date_array_to_string(value) %}
		<input type="hidden" name="{{ full_name }}[year]" widget_id="{{ date_widget_id  }}_year" value="{{value.year }}">
		<input type="hidden" name="{{ full_name }}[month]" widget_id="{{ date_widget_id  }}_month" value="{{value.month }}">
		<input type="hidden" name="{{ full_name }}[day]" widget_id="{{ date_widget_id  }}_day" value="{{value.day }}">

		<input name="to" widget_id="{{ date_widget_id  }}" type="date" class="datepicker"  areadonly="readonly" value="{{ w_value|trim }}" />
		<script>
			$(function(){
				var widget = $('[widget_id="{{  date_widget_id }}"]');
				widget.pickadate({
					labelMonthNext: 'Mois suivant',
					labelMonthPrev: 'Mois précédent',

					// The title label to use for the dropdown selectors
					labelMonthSelect: 'Choisir un mois',
					labelYearSelect: 'Choisir une année',

					// Months and weekdays
					monthsFull: [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
					monthsShort: [ 'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jui', 'Juil', 'Aout', 'Sep', 'Oct', 'Nov', 'Dec' ],
					weekdaysFull: [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ],
					weekdaysShort: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ],

					// Materialize modified
					weekdaysLetter: [ 'D', 'L', 'M', 'M', 'J', 'V', 'S' ],

					// Today and clear
					today: "Aujourd'hui",
					clear: 'Vider',
					close: 'Fermer',
					selectMonths: true, // Creates a dropdown to control month
					format: 'dd/mm/yyyy',
					selectYears: 15 // Creates a dropdown of 15 years to control year
				});
				widget.removeAttr('readonly');
				widget.on('change',function(event){
					var value = widget.val();
					var inf = value.split("/");

					if (inf.length!=3) {
						$('[widget_id="{{  date_widget_id }}_year"]').val('');
						$('[widget_id="{{  date_widget_id }}_month"]').val('');
						$('[widget_id="{{  date_widget_id }}_day"]').val('');
					}
					else {
						var m = parseInt(inf[1]);
						var d = parseInt(inf[0]);
						$('[widget_id="{{  date_widget_id }}_year"]').val(parseInt(inf[2]));
						$('[widget_id="{{  date_widget_id }}_month"]').val( m );//< 10 ? '0'+m : m );
						$('[widget_id="{{  date_widget_id }}_day"]').val(d);// < 10 ? '0'+d: d);
					}

					widget.pickadate('close');
				})
			});
		</script>
	{% endspaceless %}
{% endblock %}




{% block ouat_time_picker_widget %}
	{% spaceless %}
		{% set time_widget_id = generate_id() %}
		<input type="hidden" name="{{ full_name }}[hour]" widget_id="{{ time_widget_id  }}_hour" value="{{value.hour }}">
		<input type="hidden" name="{{ full_name }}[minute]" widget_id="{{ time_widget_id  }}_minute" value="{{value.minute }}">
		<input widget_id="{{ time_widget_id  }}"  class="timepicker" type="text" value="{{ value.hour is empty ? '': value.hour ~ ':' ~ value.minute }}">
		<script>
			$(function(){
				var widget = $('[widget_id="{{  time_widget_id }}"]');
				widget.pickatime({
					twelvehour: false
				});

				widget.on('change',function(event){
					var value = widget.val();
					var inf = explode(':',value);
					if (count(inf)!=2) {
						$('[widget_id="{{  time_widget_id }}_hour"]').val('');
						$('[widget_id="{{  time_widget_id }}_minute"]').val('');
					}
					else {
						$('[widget_id="{{  time_widget_id }}_hour"]').val(intval(inf[0]));
						$('[widget_id="{{  time_widget_id }}_minute"]').val(intval(inf[1]));
					}

				})
			});
		</script>
	{% endspaceless %}
{% endblock %}


{% block ouat_color_picker_widget %}
	{% set color_picker_id = generate_id() %}
	<div id="{{ color_picker_id }}" class="input-group colorpicker-component" style="width: 200px;adisplay:inline-block">
		<input name="{{ full_name }}" type="text" widget_id="{{ color_picker_id  }}"  class="form-control" value="{{ value }}" >
		<span class="input-group-addon"><i></i></span>
	</div>
	<script>
		$(function() {
			$('#{{ color_picker_id }}').colorpicker();
		});
	</script>
{% endblock %}