{% extends 'knp_menu.html.twig' %}

{#{% block label %}#}
	{#{% if item.getExtra('icon') is not null %}#}
		{#<i class="material-icons left">{{ item.getExtra('icon') }}</i>#}
		{#{% endif %}#}
	{#{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}#}
		{#{{ item.label|raw }}#}
	{#{% else %}#}
		{#{{ item.label }}#}
	{#{% endif %}#}
{#{% endblock %}#}



{#{% block linkElement %}{% import 'knp_menu.html.twig' as knp_menu %}<a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>{{ block('label') }}</a>{% endblock %}#}