<table class="table">
	{% if th.options.use_header %}
	<thead>
	<tr  class="grey lighten-3">
	{% for col in th.columns %}
		<th >{{ col.label }}</th>
	{% endfor %}
	</tr>
	</thead>
	{% endif %}
	<tbody>
	{% for item in th.items %}
		<tr>
			{% for col in th.columns %}
				<td {{ col.getHtmlStyle(item) }}>{{ col.render(item)|raw }}</td>
			{% endfor %}
		</tr>
	{% endfor %}

	</tbody>
	{% if th.options.use_footer %}
	<tfoot >
	<tr class="grey lighten-4">
	{% for col in th.columns %}
		<th >
			{% for kf,footer in col.Footers %}
			<div>{{ footer.render() }}</div>
			{% endfor %}

		</th>
	{% endfor %}
	</tr>
	</tfoot>
	{% endif %}
</table>