input[type=radio],input[type=radio]:checked,input[type=radio]:not(:checked) {
    adisplay:inline-block;
    left:0;
    position:absolute;
    width:100%;
    margin:0;
    border-bottom: solid 2px black !important;
}

input[type=checkbox] {
    adisplay:inline-block;
    left:0;
    position:absolute;
    /*width:100%;*/
    margin:0;
    border-bottom: solid 2px black !important;
}

label.radio-inline {
    padding-left: 25px !important;
    margin-right: 10px ;
}

label.checkbox-inline {
    padding-left: 25px !important;
    margin-right: 10px !important;
}



.modal-body .screen-panel-title {
    display: none ;
}