<div class="screen-panel-title {{ _screen.screenColor }} lighten-1">
	<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">

	</div>
	<h4 class="{{ _screen.screenColor }} lighten-1" style="color:white;font-weight: bold">
		<a href="#" class="abtn-floating btn-medium " style="color:white;">
			<i class="material-icons" >menu</i>
		</a>
		{{ screen_title|default(screen_title1|default("Aucun")) }}</h4>
	{% if screen_title2 is defined %}
		<h6 style="padding-left: 30px;color:white;">
			{{ screen_title2 }}
		</h6>
	{% endif %}
</div>

<div class="ui-layout-content" style="overflow: auto">
	{% if screen_menu is defined %}
		{% if screen_menu is iterable %}
			{% set _screen_menu = knp_menu_get(screen_menu.menu,[],screen_menu.options) %}
		{% else %}
			{% set _screen_menu = screen_menu %}
		{% endif %}
		{{ mopa_bootstrap_menu(_screen_menu,{'automenu': 'pills', 'stacked':true})  }}
	{% endif %}
</div>