<!DOCTYPE html>
<html>
<head>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	{#<link type="text/css" rel="stylesheet" href="{{ asset('bundles/ouatui/vendor/materialize/css/materialize.min.css') }}"  media="screen,projection"/>#}
	<link rel="stylesheet" href="{{ asset('bundles/ouatui/vendor/mdb/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/ouatui/vendor/mdb/css/mdb.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/ouatui/vendor/font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/ouatui/ouat/css/patch.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/ouatui/vendor/fullcalendar-2.7.3/fullcalendar.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/ouatui/vendor/fullcalendar-scheduler/scheduler.min.css') }}">

	<!--Let browser know website is optimized for mobile-->
	<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/jquery/jquery-2.1.4.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/jquery-ui/jquery-ui.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/jquery.layout/jquery.layout-latest.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/phpjs/php.default.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/ouatui/ouat/js/form.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/ouatui/ouat/ouat_widgets.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/fullcalendar-2.7.3/lib/moment.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/fullcalendar-2.7.3/fullcalendar.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/fullcalendar-2.7.3/lang/fr.js') }}" ></script>
	<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/fullcalendar-scheduler/scheduler.min.js') }}" ></script>
	<script type="text/javascript" src="{{ asset('ouat/ajax.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ouat/modal.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ouat/form.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ouat/melody_container.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ouat/melody_container_app.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ouat/melody_container_modal.js') }}"></script>
	<script type="text/javascript" src="{{ asset('ouat/melody_container_module.js') }}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	{#{% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}#}
	<style>
		.modal-backdrop.in {
			opacity: 1;
			background-color: #eceff1;
		}
		/*li.nav-item a {*/
			/*height: 50px !important;*/
			/*!*background-color: #00b0ff;*!*/
			/*display: inline-block;*/
			/*line-height: 50px !important;*/
		/*}*/

		/*li.nav-item i {*/
			/*line-height: 50px !important;*/
			/*vertical-align: middle;*/
			/*font-size: 32px;*/

		/*}*/
	</style>
</head>

<body style="overflow: hidden">
{% block body %}

	{% block app_body %}
	{% endblock app_body %}
	{% block app_navbar %}
	{% endblock %}
{% endblock %}
<!--Import jQuery before materialize.js-->

{#<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/materialize/js/materialize.min.js') }}"></script>#}

{#<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/bootstrap/js/bootstrap.min.js') }}" ></script>#}
<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/mdb/js/tether.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/mdb/js/bootstrap.min.js') }}" ></script>


<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/mdb/js/mdb.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/jquery.form/jquery.form.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/ouatui/vendor/jquery-loading-overlay/src/loadingoverlay.min.js') }}" ></script>

<script src="{{ asset('ouat/twig.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% block app_javascript %}
{% endblock %}
</body>
</html>