{% extends get_screen_page_layout('auto') %}
{% set page_title = "Liste " %}
{#{% set page_menu = "AppBundle:AdminMenuBuilder:listUserMenu" %}#}


{% set page_content %}

	{{ th.render()|raw }}


{% endset %}